<div class='aboutme-section main-container'>
    <div class='aboutme-section__details'>
        <h1> #MeetMuthoni</h1>
        <h4> PROFESSIONAL MAKE-UP ARTIST</h4>
        <div class='aboutme-section__text' data-simplebar>
            <p> Muthoni Njoba started her lifelong love affair with make up at the tender age of 9 years! Her
                dreams of pursuing a career in make-up artistry began whilst studying her A-levels at King’s
                College Taunton in Somerset, England however given the opportunity to fulfil her parents wish,
                she chose to complete an undergrad degree in Communications, Media and Culture at Oxford
                Brookes University, England. After graduating and moving home she pursued higher education
                in Human Resource Management while working at a leading Investment Firm in Nairobi. Two
                years later she took a leap of faith to follow her passion as a career and has never looked
                back.
            </p>

            <p class='part-2'> After working 4 years as a full time self-taught freelance Make-up Artist, she
                finally fulfilled her lifelong dream in 2013, which was to attend Make-up school at the prestigious
                Academy of Freelance Make-up (www.aofmakeup.com) in London. She attained a Freelance Certificate in
                Professional Make-up Artistry. In 2015 she returned to AOFM and completed yet another course,
                achieving a Creative Certificate in Advanced Make-up Techniques. She now offers upcoming Make-up
                Artists an opportunity to enrol and learn professional skills in her exclusive training program ran
                at The Make-up Lounge in Nairobi, Kenya.</p>
        </div>
    </div>
    <img src='assets/images/meet-muthoni.png' alt='Muthoni Image'>
</div>

<footer ng-include=" 'footer.html' "></footer>