<div class='muthoni main-container'>
    <h3 class='muthoni__query'> WHAT DO YOU FANCY? </h3>

    <div class='muthoni__image-collection'>

        <div class='image-collection__item'>
            <img src='assets/images/first.png' alt='Bridal Image'>
            <h2 class='item-title'> BRIDAL </h2>
        </div>

        <div class='image-collection__item'>
            <img src='assets/images/second.png' alt='Editorial Image'>
            <h2 class='item-title'> EDITORIAL </h2>
        </div>

        <div class='image-collection__item'>
            <img src='assets/images/third.png' alt='Beauty Image'>
            <h2 class='item-title'> BEAUTY </h2>
        </div>

        <div class='image-collection__item'>
            <img src='assets/images/forth.png' alt='Creative Image'>
            <h2 class='item-title'> CREATIVE </h2>
        </div>

    </div>
</div>