<div class='muthoni-speaks main-container'>
    <div class='muthoni-speaks__details'>
        <h1> #MuthoniSpeaks </h1>
        <h4> LESSONS. POSTS AND REAL TALK </h4>

        <div class='muthoni-speaks__text'>
            <p> I share my life journey in discovering my passion and the challenges I faced making my dream my
                reality as a single mother. In this series, I hope to inspire and motivate anyone who is
                looking to start.
            </p>
        </div>

        <div class='muthoni-speaks__playlist'>
            <div class='item'>
                <h2> <a href='/muthoni-season2.html'>#NoFilter - Season 2</a> </h2>
                <p class='series'> EPISODE 1-12 </p>
            </div>
            <div class='item'>
                <h2> #NoFilter - Season 1 </h2>
                <p class='series'> EPISODE 1-10 </p>
            </div>
            <div class='item'>
                <h2> #Motherhood </h2>
                <p class='series'> 2 VIDEOS </p>
            </div>
            <div class='item'>
                <h2> #AskMuthoni </h2>
                <p class='series'> 1 VIDEO </p>
            </div>
            <div class='item'>
                <h2> #Make-up Tutorials </h2>
                <p class='series'> 9 VIDEOS </p>
            </div>
            <div class='item item-none'>
                <h2> Muthoni's Blog </h2>
                <p class='series'> 75 POSTS </p>
            </div>
        </div>
    </div>

</div>